extends index.pug

block content
    h2 Create a new account

    p
        | Refresh page to get new Credentials

    pre
        code(class='language-json')= JSON.stringify(packetCredentials, null, 2)
