extends index.pug

block content
  h2 LightAlarm Transactions (Type: 23)

  table(border='1')
    tr
      th Packet ID
      th Timestamp
      th Tx ID

    each transaction in transactions
      tr
        td= transaction.senderId
        td= transaction.timestamp
        td= transaction.id
