extends index.pug

block content
    h2 Faucet
    p
        | Send funds to account from Genesis

    form(method='POST' action='/faucet')
        div.form-group
            label(for='address') Address:
            input.form-control(type='text', placeholder='address' name='address')
        div.form-group
            label(for='amount') Amount (LSK):
            input#amount.form-control(type='text', placeholder='200' name='amount')
        button.btn.btn-warning(type='submit') Fund
