extends index.pug

block content
    h2 Finish Transport (Type: 22)

    form(method='POST' action='/post-finish-transport')
        div.form-group
            label(for='recipient') Recipient (packet ID):
            input#recipient.form-control(type='text', placeholder='10881167371402274308L' name='recipient')
        div.form-group
            label(for='status') Passphrase of carrier:
            select#status.form-control.input-lg(name='status')
                option(value='success', selected= true) Success
                option(value='fail') Fail
        div.form-group
            label(for='passphrase') Passphrase of recipient:
            input#recipient.form-control(type='text', value='jump bicycle member exist glare hip hero burger volume cover route rare' name='passphrase')
        button.btn.btn-warning(type='submit') Finish transport
