.post-input {
  display: flex;
  flex: 1;
  background: $white;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  margin: 10px 0px;
  &.explore {
    border-radius: 30px;
  }
  input {
    padding: 5px 10px;
    flex: 1;
    outline: none;
    border: none
  }
}