extends index.pug



block content
    h2 Packet & Carrier Accounts

    p(class='pending') grey = "pending"
    p(class='ongoing') yellow = "ongoing"
    p(class='alarm') purple = "alarm"
    p(class='success') green = "success"
    p(class='fail') red = "fail"
    
    table(border='1')
        tr
            th Address
            th Balance
            th Asset

        each account in accounts

            tr(class=account.asset.status)
                td= account.address
                td= account.balance
                td= JSON.stringify(account.asset, null, 2)
