extends index.pug

block content
    h2 Blocks

    pre
        table.table.table-striped
            thead
                tr
                    th(scope='col') ID
                    th(scope='col') Height
                    th(scope='col') Data

            tbody
                each block in blocks
                    tr
                        td= block.id
                        td= block.height
                        td= JSON.stringify(block, null, 2)
