$background: #F3F5F8;
$platinum_gray: #DFE6F2;
$ultramarine_blue: #4070F4;
$dark_border_color: rgba(0, 0, 0, 0.08);
$ghost: #bec1cd;
$overlay: rgba(12, 21, 46, 0.4);
$white: #FFFFFF;
$blue_gray: #8A8CA2;
$fully_red: #FF4557;
$silver_gray: #C5CFE4;
