extends index.pug

block content
  h2 Accounts

  pre
    table.table.table-striped
      thead
        tr
          th(scope='col') Address
          th(scope='col') Balance
          th(scope='col') Asset

      tbody
        each account in accounts
          tr
            td= account.address
            td= account.balance
            td= JSON.stringify(account.asset, null, 2)
