doctype html
html(lang="en")
  head
    title Lisk Transport Explorer

    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

  body
    block menu
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        img(src='lisk-logo-white.png' style='width:65px;').navbar-brand
        a(href='/').navbar-brand
            | Home

        nav.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a(href='/accounts').nav-link Accounts
            li.nav-item
              a(href='/packet-accounts').nav-link Packet&amp;Carrier
            li.nav-item
              a(href='/faucet').nav-link |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Faucet
            li.nav-item
              a(href='/initialize').nav-link Initialize
            li.nav-item
              a(href='/post-register-packet').nav-link Register Packet
            li.nav-item
              a(href='/post-start-transport').nav-link Start Transport
            li.nav-item
              a(href='/post-finish-transport').nav-link Finish Transport

    .container
      block content
        .jumbotron
          h1 Lisk Transport Explorer
          p.lead
            | Browse transactions for Lisk Transport Proof of Concept

    style.
        @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
        body {
            background: #287ae2;
            width: 100%;
            min-height: 100vh;
        }
        h1, .lead, .nav-link {
            font-family: 'Poppins', sans-serif;
        }
        .navbar-expand-lg {
            background-color: #001a3e !important;
        }
        .nav-link, .navbar-brand {
            color: white !important;
        }
        .navbar-brand {
            font-weight: bold;
        }
        h2 {
            color: white;
            padding-top: 50px;
            padding-bottom: 15px;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }
        th, td {
            padding: 6px;
        }
        table td, table th {
            border: 2px solid white;
            color: white;
        }
        .pending {
            background-color: darkgrey;
        }
        .ongoing {
            background-color: darkgoldenrod;
        }
        .alarm {
            background-color: purple;
        }
        .success {
            background-color: darkgreen;
        }
        .fail {
            background-color: darkred;
        }
